::-webkit-scrollbar {
    width: 4px;
    height: 4px;
}

::-webkit-scrollbar-track {
    background: #f1f5f9;
}

::-webkit-scrollbar-thumb {
    background: #cbd5e1;
    border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
    background: #94a3b8;
}

summary::-webkit-details-marker {
    display: none;
}

summary {
    list-style: none;
}

#tab-fluid:checked~div .label-fluid,
#tab-vitals:checked~div .label-vitals,
#tab-nutrition:checked~div .label-nutrition {
    background-color: white;
    color: #3b82f6;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px -1px rgba(0, 0, 0, 0.06);
    border-color: #e0f2fe;
}

#tab-fluid:checked~.content-fluid,
#tab-vitals:checked~.content-vitals,
#tab-nutrition:checked~.content-nutrition {
    display: block;
    animation: fade-in 0.25s ease-out forwards;
}

@keyframes fade-in {
    from {
        opacity: 0;
        transform: translateY(4px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Sidebar Scrollbar Logic */
#sidebar nav::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}

#sidebar nav:hover::-webkit-scrollbar {
    width: 4px;
}

.no-scrollbar::-webkit-scrollbar {
    display: none;
}

.no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

#sidebar nav:hover::-webkit-scrollbar-thumb {
    background: #cbd5e1;
    border-radius: 4px;
}
